DATABASE_URL=postgresql://usuario:senha@servidor/neondb?sslmode=require
DB_HOST_FB=servidor-firebird
DB_PORT_FB=3050
DB_PATH_FB=caminho-do-banco
DB_USER_FB=usuario-firebird
DB_PASSWORD_FB=senha-firebird
KV_REST_API_URL=url-rest-do-upstash-redis
KV_REST_API_TOKEN=token-rest-do-upstash-redis
FIREBIRD_CACHE_TTL_SECONDS=600
FIREBIRD_STALE_CACHE_TTL_SECONDS=3600
REDIS_CACHE_TIMEOUT_MS=1500
