DATABASE_URL=postgresql://usuario:senha@servidor/neondb?sslmode=require
DB_HOST_FB=servidor-firebird
DB_PORT_FB=3050
DB_PATH_FB=caminho-do-banco
DB_USER_FB=usuario-firebird
DB_PASSWORD_FB=senha-firebird
